<div ng-controller="HomeController as vm">
  <nav class="navbar navbar-default">
    <div class="container-fluid">
      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" ui-sref="Home">ParkGSD</a>
      </div>

      <!-- Collect the nav links, forms, and other content for toggling -->
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <form class="navbar-form navbar-left" ng-submit="vm.search()" role="search">
          <div class="form-group">
            <input type="text" class="form-control" id="address" placeholder="Search">
          </div>
          <button type="submit" class="btn btn-default" ng-click="vm.search()">Submit</button>
        </form>

        <ul class="nav navbar-nav navbar-right">
          <li><button class="btn btn-primary" ui-sref="postSpot">Post Your Spot</a></li>
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">{{vm.status.username}} <span class="caret"></span></a>
            <ul class="dropdown-menu">
              <li><a href="#">Profile</a></li>
              <li><a href="#">Setting</a></li>
              <li><a href="#">Help</a></li>
              <li role="separator" class="divider"></li>
              <li><a ng-click="vm.logout()">Log out</a></li>
            </ul>
          </li>
        </ul>
      </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
  </nav>



  <!-- Map Section -->
  <div id="panel">
    <button  class="btn btn default" ng-click="vm.codeAddress()">show spots</button>
  </div>
  <div id="map"></div>

  
  <!--  spots display Section -->
  <div class="col-sm-4 well container" ng-repeat="i in vm.spots">
    <img ng-src="{{i.img}}" class="img-responsive img-rounded" />
    <a class="delete-picture" ng-show="i.user.username === nav.status.username" ng-click="vm.deleteSpot(i)">X</a>
    <i>by: {{i.user.username}}</i>
  </div>
</div>
