<div ng-controller="postSpotCtrl as po" ng-init="po.spot = {};">
	<h2>Post Your Spot Here</h2>
	<form class="container" ng-submit="po.upload()">
		<div class="form-group">
			<label>Address</label>
			<input class="form-control" ng-model="po.spot.address" placeholder="Address...">
		</div>

		<div class="form-group">
			<label>Title</label>
			<input class="form-control" ng-model="po.spot.title" placeholder="Title...">
		</div>

		<div class="form-group">
			<label>Car size</label>
			<input class="form-control" ng-model="po.spot.size" placeholder="Car size...">
		</div>

		<div class="form-group">
			<label>Available From</label>
			<input class="form-control" ng-model="po.spot.time" placeholder="Available from...">
		</div>
		<div class="form-group">
			<label>Rate/hr</label>
			<div class="input-group">
				<span class="input-group-addon" id="sizing-addon2">$</span>
				<input type="text" class="form-control" ng-model="po.spot.rate" aria-describedby="sizing-addon2">
				<span class="input-group-addon">.00</span>
			</div>
		</div>
	</form>	
	
	<form ng-submit="po.upload()" class="container">
		<label>Type of Spot</label>
		<br/>
		<input type="radio" ng-model="po.spot.type" name="type" ng-model="po.spot.type" value="garage"> Garage
		<br/>
		<input type="radio" ng-model="po.spot.type" name="type" ng-model="po.spot.type" value="streetParking"> Street Parking
		<br/>
		<input type="radio" ng-model="po.spot.type" name="type" ng-model="po.spot.type" value="driveWay"> Drive way
	</form>
	<br/>
	<form  class="container" ng-submit="po.upload()">
		<div class="form-group">
			<label>Description</label>
			<textarea rows="8" cols="50" class="form-control" ng-model="po.spot.description" ></textarea>
		</div>
		<div class="form-group">
			<label>Photo</label>
			<input class="form-control" ng-model="po.spot.img" placeholder="Photo URL...">
		</div>	
	</form>
	<button ng-click="po.upload()" class="btn btn-default">Submit</button>
</div>